<nav class="navbar navbar-expand-lg" style="background-color: #ffffff;"> <!-- Cambia el fondo a blanco o el color que desees -->
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-primary" [routerLink]="['list']" routerLinkActive="active">Listar Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" [routerLink]="['insert']" routerLinkActive="active">Insertar Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" [routerLink]="['update']" routerLinkActive="active">Actualizar Empleado</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-primary" [routerLink]="['delete']" routerLinkActive="active">Eliminar Empleado</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
